.header{
    display: flex;
    justify-content: space-between;
    border: 2px solid royalblue;
}
.title button{
    justify-content: end;
}
.logo-img{
 width: 100px;
 padding: 2px;
}

.nav-item > ul{
    display: flex;
    
}
.nav-item > ul > li{
    font-size: 20px;
    padding: 15px;
    list-style-type: none;
}
.serach-container{
    padding: 20px;
}
.food-style{
    width: 200px;
    
}
.res-container{
    display: flex;
    flex-wrap: wrap;
}
.res-card {
    margin: 5px;
    padding:5px;
    width: 200px;
    height: 350px;
    border: 1px solid black;
   
    
}

.res-card:hover{
    cursor: pointer;
    border: 2px solid gray;
}
.footer{
    justify-content: space-around;
    border: 2px solid blue;
}
.footer>ul{
    display: flex;
}
.footer>ul>li{
    font-size: 20px;
    padding: 0px 30px;
    list-style-type: none;
}
.search-btn{
    margin: 5px;
    cursor:pointer;
}
.shimmer-card{
    width: 200px;
    height:250px;
    background: grey;
    margin: 10px;
    /* border:1px solid gray; */
}



